# BASICS OF PYTHON

In [1]:
print('Aakriti')   ## for printing

Aakriti

In [2]:
type(print('Aakriti'))   ## type is used to check the datatype and should be in small letter

Aakriti

NoneType

In [3]:
a = 5

In [4]:
print(a)

5

In [5]:
type(a)

int

In [6]:
b = 57.8

In [7]:
print(b)

57.8

In [8]:
type(b)

float

In [9]:
num1 = input("enter first number")
num2 = input("enter second number")

result = num1 + num2

print("result is : ", result)

enter first number
enter second number
result is :

In [10]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))   ## int is used to do calculate

enter first number

ValueError: invalid literal for int() with base 10: ''

In [ ]:
sum_num = num1 + num2
diff_num = num1 - num2
mult_num = num1 * num2
div_num = num1 / num2
mod_num = num1 % num2
quot_num = num1 // num2

In [ ]:
print("Sum of two numbers", num1," and ", num2," is ",sum_num)
print("Diff of two numbers", num1," and ", num2," is",diff_num)
print("Mult of two numbers", num1," and ", num2, " is ",mult_num)
print("Div of two numbers", num1," and ", num2," is ",div_num)
print("Mod of two numbers", num1," and ", num2," is ",mod_num)
print("Quot of two numbers", num1," and ", num2," is ",quot_num)

# range function

In [11]:
range(10)     ### click shift+tab key to see the function use.
              ### Range will give you number from 0 to n-1

range(0, 10)

In [12]:
print(range(10))

range(0, 10)

In [13]:
list(range(3,10))  ## print numbers from 3 to 9

[3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(3,10,2))    ## 2 here means jump 1 number and give the 2nd number value. this is called Step sizing.

[3, 5, 7, 9]

In [15]:
list(range(3,20,3))     ## skipping 3 numbers in between

[3, 6, 9, 12, 15, 18]

In [16]:
list(range(35.10,45.5,3))      ##'float' object cannot be interpreted as an integer

TypeError: 'float' object cannot be interpreted as an integer

In [17]:
list(range(int(35.10),int(45.5),3))

[35, 38, 41, 44]

In [18]:
list(range(3,45,-3))      ### there is no syntax error but it will give an empty list because

[]

In [19]:
list(range(45,3,-3))    ## can go backwards if the provided starting number is bigger

[45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6]

In [20]:
list(range(-45,-3,3))

[-45, -42, -39, -36, -33, -30, -27, -24, -21, -18, -15, -12, -9, -6]

In [21]:
name = "INDIA"

In [22]:
type(name)

str

In [23]:
len_name = len(name)                                 ## len means length

In [24]:
print(len_name)

5

In [25]:
list(range(len_name))

[0, 1, 2, 3, 4]

# List

In [26]:
list_items = []    ##square bracket stands for list
                   ## List is a datastructure

In [27]:
print(list_items)

[]

In [79]:
list_items = ["hello",55,67.53,'a',"anand",45,"India",34.56,98,True,False]

In [29]:
print(list_items)

['hello', 55, 67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [30]:
len_list = len(list_items)

In [31]:
print(len_list)

11

In [32]:
list_items[5]        ## accessing the sixth element

45

In [33]:
type(list_items)

list

In [34]:
list_items[2:]          ## give all the items from 3rd onwards

[67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [35]:
list_items[:]                   ## [:] gives all the items in the list

['hello', 55, 67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [36]:
list_items[:4]                       ## [:xx] gives items uptil the number after :

['hello', 55, 67.53, 'a']

In [37]:
list_items[3:7]

['a', 'anand', 45, 'India']

In [38]:
list_items[::-1]           ## gives reverse items in the list

[False, True, 98, 34.56, 'India', 45, 'anand', 'a', 67.53, 55, 'hello']

In [39]:
list_items[2:9:2]      ## gives items from 3rd range to 8th skipping 1 step (step-size)

[67.53, 'anand', 'India', 98]

In [40]:
[1,2,36.45,"iNeuron"] + "Aakriti"  ## Aakriti here is a string so we cant add it

TypeError: can only concatenate list (not "str") to list

In [41]:
[1,2,36.45,"iNeuron"] + [23,45,"Hello"]     ## list should be concanetated with list only

[1, 2, 36.45, 'iNeuron', 23, 45, 'Hello']

In [42]:
[1,2,36.5,"iNeuron"] + ["aakriti"]

[1, 2, 36.5, 'iNeuron', 'aakriti']

# Append function

In [43]:
list_items

['hello', 55, 67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [44]:
print(list_items)        ## either above or this both will give you same output

['hello', 55, 67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [45]:
name  = "Aakriti"

In [46]:
name[len(name)-2]

't'

In [47]:
name[len(name)-2] = "m"       ## Strings are immutable(you cannot change the contents)

TypeError: 'str' object does not support item assignment

In [48]:
### Homework - how to make string Mutable?

In [49]:
list_items.append("Aakriti singh")    ## Adding items in the end of the list

In [50]:
list_items

['hello',
 55,
 67.53,
 'a',
 'anand',
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh']

In [51]:
## How can we add more items at the end of the list? solution below

In [52]:
list_items.append(["Uday",26])

In [53]:
list_items

['hello',
 55,
 67.53,
 'a',
 'anand',
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [54]:
list_items[12][1]    ## to access elements of list inside list, use square bracket [] twice.

26

# Insert command

In [55]:
## i want to add index number 3 , then follow the below steps

In [56]:
list_items.insert(2,"INDIA")       ## insert INDIA after the 2nd item

In [57]:
list_items

['hello',
 55,
 'INDIA',
 67.53,
 'a',
 'anand',
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [58]:
list_items.insert(5,"Vaishnavi")

In [59]:
list_items     ## it doesnt replace, other items just shifts there place.

['hello',
 55,
 'INDIA',
 67.53,
 'a',
 'Vaishnavi',
 'anand',
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [60]:
list_items.insert(7,["Bal","Raj",98.76])

In [61]:
list_items

['hello',
 55,
 'INDIA',
 67.53,
 'a',
 'Vaishnavi',
 'anand',
 ['Bal', 'Raj', 98.76],
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [62]:
list_items[7][1]   ## to check elemets present in list inside list

'Raj'

# REPLACE FUNCTION is not present in Python for list Object

In [63]:
list_items[2] = "Replace"

In [64]:
list_items       ## you can change values by assigning positions rather than replacing it.

['hello',
 55,
 'Replace',
 67.53,
 'a',
 'Vaishnavi',
 'anand',
 ['Bal', 'Raj', 98.76],
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [65]:
## hot favourite question asked in interview : difference between append and extend

# EXTEND FUNCTION

In [66]:
s = [1,2,3,4,5,6]

In [67]:
s.append([1,2,3,4,5,6,7])     ## wraps up the element as it is gets added at the end of the list

In [68]:
s

[1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5, 6, 7]]

In [69]:
s.extend([6,7,8,"dss"])

In [70]:
s

[1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5, 6, 7], 6, 7, 8, 'dss']

In [71]:
## difference between append and extend = extend adds elements individually unlike append

In [72]:
s.index(5)       ## always picks the first occurences

4

In [73]:
list_items

['hello',
 55,
 'Replace',
 67.53,
 'a',
 'Vaishnavi',
 'anand',
 ['Bal', 'Raj', 98.76],
 45,
 'India',
 34.56,
 98,
 True,
 False,
 'Aakriti singh',
 ['Uday', 26]]

In [74]:
list_items[::-1]

[['Uday', 26],
 'Aakriti singh',
 False,
 True,
 98,
 34.56,
 'India',
 45,
 ['Bal', 'Raj', 98.76],
 'anand',
 'Vaishnavi',
 'a',
 67.53,
 'Replace',
 55,
 'hello']

# REVERSE FUNCTION

In [75]:
list_items_rev = list_items[::-1]

In [85]:
list_reverse = list_items.reverse()

In [86]:
print(list_items)   ## need to check this

['hello', 55, 67.53, 'a', 'anand', 45, 'India', 34.56, 98, True, False]

In [87]:
list_items.reverse()

# sorting elements

In [88]:
list_items2 = ["aakriti","uday","yash",45,40]

In [89]:
list_items2_reverse = list_items2.reverse()

In [90]:
print(list_items2)

[40, 45, 'yash', 'uday', 'aakriti']

In [114]:
list_items2 = ["aakriti","uday","yash"]

In [106]:
list_items2_sorted = list_items2.sort()

In [120]:
sorted(list_items2,reverse = True)

['yash', 'uday', 'aakriti']

In [121]:
## sorted func doesn't work on mix data type

In [122]:
list_item_num = [2,3,5,6,77,8]

In [124]:
list_items_sort_asc = sorted(list_item_num)
list_items_sort_dsc = sorted(list_item_num,reverse = True)

In [125]:
print(list_items_sort_asc)
print(list_items_sort_dsc)

[2, 3, 5, 6, 8, 77]
[77, 8, 6, 5, 3, 2]

In [129]:
print(list(reversed("uday")))

['y', 'a', 'd', 'u']